* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li,
ol li {
  list-style-type: none;
}
a {
  color: black;
}
a:hover {
  color: orange;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: '幼圆';
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
